.logo-wrapper {
   display: flex;

   .logo-upload-button {
      height: 100px;
      width: 100px;
      min-width: 100px;
      margin-left: 50%;
      transform: translateX(-50%);
      background-color: gray;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;

      input {
         display: none;
      }

      img {
         width: 100%;
         height: 100%;
         margin-left: 50%;
         margin-top: 50%;
         border-radius: 50%;
         transform: translate(-50%, -50%);
         z-index: 2;
      }
   }
}

.splash-wrapper {
   display: flex;

   .splash-upload-button {
      width: 100%;
      height: 150px;
      background-color: gray;
      z-index: 3;
      cursor: pointer;

      input {
         display: none;
      }

      img {
         width: 100%;
         height: 100%;
         z-index: 2;
      }
   }
}